@charset "ISO-8859-1";

body {
	background: =#E6E6FA;
	
}


.contenitoreForm{
	
	background: #E6E6FA;
	border: 3px solid black;
	width: 35%;
	
}

.contenitoreForm .campo{
	margin-top: 15px;
}



 .contenitoreForm .valore {

	position: absolute;
	left: 200px;
	
}
	