@charset "ISO-8859-1";

H1 {
	text-shadow: 3px 1px #8080ff;
	color: RED;
	background: aqua;
	align: center;
}

h2 {
	text-decoration: line-through;
}

h1+h2{
	text-decoration: underline;
}

body {
	background-color: "#E6E6FA";
}

#prova {
	border-style: dotted;
	color: blue;
	background: aqua;
	font-style: oblique;
}

article {
	font: 150% Time New Roman;
	color: maroon;
}

section {
	font: 150% Time New Roman;
	color: blue;
	background-color: #E6EFFA;
}

footer {
	font: 36px Time New Roman;
}